.map-holder{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.map-canvas{
  outline: solid green;
  padding: 1rem;
}

.map-button{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1rem;
  width: 10rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.map-interface{
  top: 12rem;
  outline: 5px solid pink;
  position: absolute;
}

.map-interface-cell{
  background-color: rgba(0, 0, 0, .5);
}

.map-interface-cell-popup{
  position: absolute;
  outline: 1px solid blue;
  width: 2.5rem;
  height: 1.5rem;
  background-color: rgba(255, 255, 255, .5);
}

table, tbody, tr, td{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

td{
  outline: 0.1px solid purple
}

